<div class="orbit-container">
  <div *ngFor="let item of orbitData" class="orbit-item">
    <h3>軌道 {{ item.serverPlaneId }}</h3>
    <div class="item-field">
      <label>軌道傾角:</label>
      <input type="text" [value]="item.inclination" readonly class="readonly" />
    </div>
    <div class="item-field">
      <label>升交點黃道經度:</label>
      <input type="text" [value]="item.raan" readonly class="readonly" />
    </div>
    <div class="item-field">
      <label>偏心率:</label>
      <input
        type="text"
        [value]="item.eccentricity"
        readonly
        class="readonly"
      />
    </div>
    <div class="item-field">
      <label>近地點幅角:</label>
      <input type="text" [value]="item.arg_pe" readonly class="readonly" />
    </div>
    <div class="item-field">
      <label>海拔高度:</label>
      <input type="text" [value]="item.altitude" readonly class="readonly" />
    </div>
    <hr />
  </div>
</div>
