<div calss="ut-container">
  <!-- <h2>{{ utData?.dataTitle }}</h2> 
  <p>Read Only: {{ utData?.readOnly ? 'Yes' : 'No' }}</p>
  <p>Items Number: {{ utData?.itemsNum }}</p> -->

  <div *ngFor="let item of utData?.dataItems" class="ut-item">
    <h3>UT - {{item.gsId}}</h3>
    <div class="item-field">
        <label>經度:</label>
        <input type="text" [value]="item['經度']" [readonly]="utData?.readOnly"[ngClass]="{'readonly': utData?.readOnly, 'editable': !utData?.readOnly}">
    </div>
    <div class="item-field">
        <label>緯度:</label>
        <input type="text" [value]="item['緯度']" [readonly]="utData?.readOnly"[ngClass]="{'readonly': utData?.readOnly, 'editable': !utData?.readOnly}">
    </div>
    <div class="item-field">
        <label>海拔高度:</label>
        <input type="text" [value]="item['海拔高度']" [readonly]="utData?.readOnly"[ngClass]="{'readonly': utData?.readOnly, 'editable': !utData?.readOnly}">
    </div>
    <div class="item-field">
      <label>Accept Elevation:</label>
      <input type="text" [value]="item['acceptElevation']" [readonly]="utData?.readOnly"[ngClass]="{'readonly': utData?.readOnly, 'editable': !utData?.readOnly}">
  </div>
    <hr>
  </div>
</div>