.progress-container {
  display: flex;
  align-items: center;
}

.progress-bar {
  position: relative;
  width: 80%;
  height: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.progress {
  height: 100%;
  background-color: #2d8f7e;
  border-radius: 10px 0 0 10px;
}

.progress-thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #faff00;
  border-radius: 50%;
  cursor: pointer;
}

.controls button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

/* Hover effect: light gray background, black text */
.controls button:hover {
  background-color: #d3d3d3; /* Light gray */
  color: black;
}

/* Clicked state: dark green background, white text */
.controls button.clicked {
  background-color: #2d8f7e; /* Dark green */
  color: white;
}

.tooltip {
  position: absolute;
  top: -25px;
  background-color: black;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  pointer-events: none;
}
