<div class="project-list-container">
  <div class="header">
    <div class="search-bar">
      <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" />
      <button class="search-button" (click)="searchProjects()">
        <img src="assets/search-icon.png" alt="search" />
      </button>
    </div>
    <button class="new-project-button" (click)="toggleCreateModal()">
      New project
    </button>
  </div>
  <div class="projects">
    <div *ngFor="let project of projects">
      <div
        class="project-item"
        [ngClass]="{ expanded: project.expanded }"
        (click)="toggleProject(project)"
      >
        <button class="toggle-button">
          {{ project.expanded ? '▽' : '▷' }}
        </button>
        <span>{{ project.name }}</span>
        <span>{{ project.date }}</span>
        <button class="edit-button" (click)="editProject(project)">Edit</button>
        <button class="delete-button" (click)="deleteProject(project)">
          Delete
        </button>
      </div>
      <div *ngIf="project.expanded" class="simulation-list">
        <div
          *ngFor="let simulation of project.simulations"
          class="simulation-item"
        >
          <span>{{ simulation.name }}</span>
          <span>{{ simulation.date }}</span>
          <button (click)="viewReport(simulation)">Report</button>
        </div>
      </div>
    </div>
  </div>
  <button class="add-button" (click)="toggleCreateModal()">+</button>
</div>
<app-new-project
  [userId]="userId"
  *ngIf="showCreateModal"
  (close)="toggleCreateModal(); loadProjects(userId)"
></app-new-project>
<app-delete-project
  *ngIf="showDeleteModal"
  [projectId]="selectedProjectId"
  [projectName]="selectedProjectName"
  (close)="toggleDeleteModal()"
>
</app-delete-project>
