.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  width: 40%;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.title-divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 10px 0;
}

.content-button-container {
  background-color: white;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.modal-input {
  flex: 2;
  padding: 8px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.dropdown-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dropdown {
  width: 50%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  /* appearance: none; */
  position: relative;
}

.dropdown::after {
  position: absolute;
  right: 10px;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  pointer-events: none;
  padding: 10px;
}

.dropdown option {
  background-color: gray;
  color: white;
  padding: 8px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.create-button {
  background: linear-gradient(to right, #5d89b1, #605fb1);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.create-button:hover {
  box-shadow: 0 0 10px rgba(93, 137, 177, 0.5);
}

.cancel-button {
  background: linear-gradient(to right, #b15d7b, #921d1d);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.cancel-button:hover {
  box-shadow: 0 0 10px rgba(93, 137, 177, 0.5);
}
.input-section {
  display: flex;
  justify-content: space-between;
}

.input-section-left,
.input-section-right {
  width: 48%;
}
