<div class="login-container">
    <div class="login-box">
      <label for="userEmail">Email</label>
      <input type="text" id="userEmail" name="userEmail" #emailInput>
      
      <label for="password">Password</label>
      <input type="password" id="password" name="password" #passwordInput>
      
      <a href="javascript:void(0)" class="forget-password" (click)="toggleModal()">Forget password?</a>
      
      <button class="login-button" (click)="login()">Login</button>
    </div>
  </div>
  <app-forget-password *ngIf="showModal" (close)="toggleModal()"></app-forget-password>