<div *ngFor="let category of settings | keyvalue">
    <div class="header" [ngStyle]="{'background-color': '#021D40'}">
      <span class="category-title">{{ category.key }}</span>
    </div>
    <div *ngFor="let item of category.value" class="item">
      <div class="item-header" [ngStyle]="{'background-color': '#011126'}">
        <span class="toggle-button" (click)="toggleOpen(category.key, item)">
          <code>
          {{ item.open ? '-' : '+' }}
        </code>
        </span>
        <span class="item-title">{{ item.dataTitle }}</span>
      </div>
      <div *ngIf="item.open" class="item-content">
        <div class="content" [ngStyle]="{'background-color': '#ffffff'}">
          <ng-container *ngIf="getComponent(item.dataTitle)">
            <div class="content-title">{{ item.dataTitle }}</div>
            <ng-container *ngComponentOutlet="getComponent(item.dataTitle)"></ng-container>
          </ng-container>
          <ng-container *ngIf="!getComponent(item.dataTitle)">
            <div class="content-title">{{ item.dataTitle }}</div>
            <span class="content-text">setting content</span>
          </ng-container>  
        </div>
      </div>
    </div>
  </div>
  