<div class="payload-container">
  <div *ngFor="let item of payloadData" class="payload-item">
    <h3>CPL- {{ item.satelliteId }}</h3>
    <div class="item-field">
      <label>輻射夾角 +/-:</label>
      <input type="text" [value]="item.viewAngle" readonly class="readonly" />
    </div>
    <div class="item-field">
      <label>Beam夾角 +/-:</label>
      <input type="text" [value]="item.beamAngle" readonly class="readonly" />
    </div>
    <div class="item-field">
      <label>Beam數量:</label>
      <input type="text" [value]="item.beamCount" readonly class="readonly" />
    </div>
    <div class="item-field">
      <label>Bandwidth:</label>
      <input type="text" [value]="item.bandwidth" readonly class="readonly" />
    </div>
    <hr />
  </div>
</div>
