.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.left-section .simulation-info {
  font-size: 16px;
  color: black;
}

.right-section .header-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-left: 10px;
  /* margin-right: 80px; */
}

.export-menu {
  position: absolute;
  right: 10px;
  top: 50px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.export-option {
  background: gray;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
}
.download-settings-button {
  background: gray;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  width: 10px;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
}
.help-button {
  margin-right: 80px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: darkgray;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.help-button:hover {
  color: lightblue;
  background-color: #f9f9f9;
}
