<div class="isl-container">
  <div *ngFor="let item of islData" class="isl-item">
    <h3>ISL - {{ item.serverSatId }} - {{ item.serverIslId }}</h3>
    <div class="item-field">
      <label>衛星方位角:</label>
      <input
        type="number"
        [value]="item.satAzimuth"
        readonly
        class="readonly"
      />
    </div>
    <div class="item-field">
      <label>衛星幅角:</label>
      <input
        type="number"
        [value]="item.satElevation"
        readonly
        class="readonly"
      />
    </div>
    <div class="item-field">
      <label>旋轉方位角 +/-:</label>
      <input
        type="number"
        [value]="item.laserAzimuth"
        readonly
        class="readonly"
      />
    </div>
    <div class="item-field">
      <label>旋轉幅角 +/-:</label>
      <input
        type="number"
        [value]="item.laserElevation"
        readonly
        class="readonly"
      />
    </div>
    <div class="item-field">
      <label>有效射程:</label>
      <input
        type="number"
        [value]="item.laserRange"
        readonly
        class="readonly"
      />
    </div>
    <hr />
  </div>
</div>
