.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* nav bar下方陰影 */
  z-index: 30;
}

.navbar-left,
.navbar-right,
.navbar-center {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 1rem;
}

.navbar a {
  color: darkblue;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: bold;
}

.navbar a:hover,
.navbar .dropbtn:hover,
.navbar .dropdown-content a:hover {
  color: lightblue;
}

.dropbtn {
  background-color: transparent;
  border: none;
  color: darkblue;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
  padding: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 30;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
