<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="logo" class="logo" />
    <a (click)="navigateToProjectList()">專案列表</a>
  </div>
  <div class="navbar-center">
    <p>{{ pageTitle }}</p>
  </div>
  <div class="navbar-right">
    <div class="dropdown">
      <button class="dropbtn">Message</button>
      <div class="dropdown-content">
        <ng-container *ngIf="recentReport">
          <a (click)="navigateToReport(recentReport.reportId)">{{
            recentReport.reportName
          }}</a>
        </ng-container>
        <ng-container *ngIf="!recentReport">
          <p>No recent reports</p>
        </ng-container>
      </div>
    </div>
    <a (click)="logout()">logout</a>
  </div>
</nav>
