<div class="satellite-container">
  <div *ngFor="let item of satelliteData" class="satellite-item">
    <h3>衛星 {{ item.serverSatId }}</h3>
    <div class="item-field">
      <label>Mean anomaly:</label>
      <input
        type="number"
        [value]="item.meanAnomaly"
        readonly
        class="readonly"
      />
    </div>
    <div class="item-field">
      <label>Mean motion:</label>
      <input
        type="number"
        [value]="item.meanMotion"
        readonly
        class="readonly"
      />
    </div>
    <div class="item-field">
      <label>mass:</label>
      <input type="number" [value]="item.mass" readonly class="readonly" />
    </div>
    <hr />
  </div>
</div>
