.edit-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.central-canvas {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.left-tools {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  z-index: 30;
}

.right-settings {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  max-height: 100vh; /* 限制高度 */
  overflow-y: auto; /* 允許垂直滾動 */
  z-index: 20;
}

.progress-bar-container {
  position: relative;
  width: calc(100% - 35%); /* 避免被 right-settings 擋住 */
  margin-left: 12.5%; /* 避免被 left-tools 擋住 */
  z-index: 30;
}

.progress-bar {
  width: 100%;
}

.format-tabs {
  position: relative;
  bottom: 0;
  left: 12.5%;
  right: 0;
  z-index: 20;
}
