<div *ngIf="dataGroup">
  <!-- <h3>{{ dataGroup.dataTitle }}</h3> -->
  <ul>
      <li *ngFor="let item of dataGroup.dataItems">
          <label [class.read-only]="dataGroup.readOnly">
              <input
                  type="radio"
                  name="ruleRoute"
                  [checked]="item.display"
                  [disabled]="dataGroup.readOnly"
                  (change)="onRadioChange(item)"
              />
              <span>{{ item.dataTitle }}</span>
          </label>
      </li>
  </ul>
</div>
